/.lake

# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.pdf
*.dvi
*.ps

# Editors / OS
.DS_Store
.vscode/
.idea/
